<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html
SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
</ifmodule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.adhs-studien.info$ [NC]
RewriteRule ^(.*)$ https://www.adhs-studien.info/$1 [L,R=301]

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.adhs-studien.info/$1 [R,L]

#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?adhs-studien.info [NC]
#RewriteCond %{HTTP_HOST} ^www.adhs-studien.info/docs$
#RewriteRule ^(.*)$ https://www.adhs-studien.info/$1.html [L,R=301]
ErrorDocument 404 https://www.adhs-studien.info/error404.php